body {
    background-color: #000;
    /* Fond noir */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-background::before,
.grid-background::after,
.glow-light::after,
.glow-light::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: repeating-linear-gradient(90deg,
            transparent,
            transparent 19px,
            rgba(0, 255, 255, 0.2) 20px);
    animation: rotateGrid 20s ease-in-out infinite alternate-reverse;
}

.grid-background::after,
.glow-light::before {
    background: repeating-linear-gradient(0deg,
            transparent,
            transparent 19px,
            rgba(0, 255, 255, 0.2) 20px);
    animation: rotateGrid 20s linear infinite alternate !important;
}

@keyframes rotateGrid {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.grid-background::before {
    mix-blend-mode: screen;
}

.glow-light {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0 0 40px 20px #fff, 0 0 50px 25px #0ff;
    transition: 2s ease-in-out;
    animation: spin 8s linear infinite alternate;
    overflow: hidden;
    mix-blend-mode: screen;
}

.glow-light-loaded-up {
    scale: 0.3;
    bottom: 0%;
    left: 0%;
}

@keyframes spin {
    50% {
        box-shadow: 0 0 40px 20px #fff, 0 0 200px 100px rgb(0, 255, 98);
    }

    100% {
        box-shadow: 0 0 40px 20px #fff, 0 0 50px 25px #0ff;
    }
}

@keyframes spinError {
    50% {
        box-shadow: 0 0 40px 20px #fff, 0 0 200px 100px rgb(255, 0, 0);
    }

    100% {
        box-shadow: 0 0 40px 20px #fff, 0 0 50px 25px rgb(255, 128, 0);
    }
}


#main-chat {
    position: absolute;
    width: 60%;
    max-width: 710px;
    height: 70%;
    min-height: 445px;
    display: none;
    overflow: hidden;
}

.chat-loaded {
    display: block !important;
    animation: 2s login ease-in-out;
}

@keyframes login {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    /* Google Font rétro */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.chat-container {
    width: 100%;
    height: 100%;
    border: 3px solid #0ff;
    background-color: #000;
    padding: 10px;
    color: #0ff;
    position: relative;
}

.chat-header,
.chat-options,
.chat-input,
.chat-emojis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #0ff;
    width: 100%;
}

.chat-emojis {
    margin: 0;
}

.chat-header {
    justify-content: space-between;
}

.header-icon {
    width: 30px;
    height: 20px;
    background: #0ff;
}

.chat-window {
    height: 50%;
    border: 2px solid #0ff;
    overflow-y: auto;
    margin-bottom: 10px;
}

#message-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chat-messages {
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 10px;
    color: #0ff;
    background-color: #000;
    overflow-y: auto;
}

.chat-input {
    border: 2px solid #0ff;
}

.chat-input input {
    flex: 1;
    padding: 5px;
    background-color: #000;
    color: #0ff;
    border: none;
    outline: none;
}

.send-button {
    padding: 5px 10px;
    border: 2px solid #0ff;
    cursor: pointer;
    color: inherit;
    background: transparent;
}

.option-button,
.emoji {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0ff;
    cursor: pointer;
}

.option-button:hover,
.emoji:hover,
.send-button:hover {
    background-color: #0ff;
    color: #000;
}

.chat-component {
    height: 10%;
    min-height: 44px;
}



.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #0ff;
    /* Cyan border */
    background-color: #000;
    /* Black background */
    color: #0ff;
    /* Cyan text color */
    font-size: 12px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    /* Subtle glow effect */
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 255, 98);
    /* Green neon color */
    text-shadow: 0 0 5px rgba(0, 255, 98, 0.7);
}

.message-content {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    /* Slightly transparent background for content */
    border: 1px solid #0ff;
    /* Border around the content */
    color: #0ff;
    font-family: 'Press Start 2P', cursive;
    /* Retro font */
    line-height: 1.2;
}

/* NOTIFICATIONS */

#notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
    z-index: 1000;
}

.notification {
    background-color: #0ff;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
    animation: fadeInOut 5s ease-in-out;
    text-transform: capitalize;
}

.notification-error {
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@media (max-width: 600px) {
    #notification-container {
        max-width: 90%;
        right: 5%;
        bottom: 5%;
    }

    .notification {
        padding: 8px;
        font-size: 14px;
    }
}

/* CHOOSE SERVER */

.server-selector-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.server-selector {
    display: none;
}

.server-selector-active {
    display: grid;
    grid-template: "list list list list" "input input input btn" "export export clear clear";
    animation: serverSelectorOpen 0.5s ease-in-out;
}

@keyframes serverSelectorOpen {
    0% {
        transform: translateX(-100%);
    }
}
#choose-server-btn, #clear-server-list {
    cursor: pointer;
}

#choose-server-btn:hover {
    cursor: pointer;
    background-color: #00ffcc;
    color: black;
}

#choose-server-btn,
#add-server-btn,
#server-list,
#add-server-input,
#clear-server-list,
#export-server-list {
    margin-bottom: 5px;
    background-color: #0d0d0d;
    color: #00ffcc;
    border: 1px solid #00ffcc;
    padding: 5px;
    font-size: 10px;
}

#add-server-btn {
    grid-area: btn;
}

#add-server-input {
    grid-area: input;
}

#server-list {
    grid-area: list;
}
#export-server-list {
    grid-area: export;
}
#clear-server-list {
    grid-area: clear;
}